*{
    /* default css */
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
    text-decoration: none;

    /* default css */
}

.header{
    width: 100%;
    height: 100vh;
}

.nav-item{
    margin: 16px 16px;
}

.nav-item .nav-link{
    color: rgba(0, 0, 0, 0.733);
    font-weight: 600;
    font-size: 14px;

}

.active{
    color:rgb(23, 47, 165) !important;
}

.nav-link:hover{
    color:rgb(23, 47, 165);
}

.btn_navbar{
    display: incline-box;
    padding: 11px 39px;
    background-color: blue;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid blue;
    border-radius: 40px;
    margin: -2px 14px;
    color: white;
    transition: 0.2s ease-in;

}

.btn_navbar:hover{
    background-color: rgb(23, 47, 165);
}

.home{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
    
}

.home_container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.heading_sm{
    font-size: 25px;
    font-weight: 600;
    color: rgba(52, 52, 53, 0.61);
    margin: 10px 0px;
}

.heading_lg{
    font-size: 84px;
    font-weight: 800;
    margin: 22px 0px;
    letter-spacing: 1px;
}

.heading_lg span{
    color: rgb(23, 47, 165);

}

.heading_md{
    font-size: 16px;
    font-weight: 500;
    color: rgba(46, 46, 46, 0.806);
    margin-top: -13px;
}

.img_home{
    width: 625px;
}

.btn_home{
    display: incline-block;
    text-decoration: none;
    background-color: rgb(46, 45, 45);
    padding: 12px 32px;
    border-radius: 50px;
    color: white;
    margin: 28px 4px;
    font-weight: 600;
    margin-top: 20px;
    transition: 0.2s ease-in;

}

.btn_home:hover{
    background-color: rgb(21, 20, 20);
}

.btn-2{
    background-color: rgb(23, 47, 165);
}

.icon_social{
    font-size: 17px;
    padding: 12px 14px;
    color: rgb(23, 47, 165);
    border: 2px solid rgb(23, 47, 165);
    border-radius: 30px;
    margin: 0px 4px;
    cursor: pointer;
    transition: 0.2s ease;
}

.icon_social:hover{
    background-color: rgb(23, 47, 165);
    color: white;
}

.about{
    width: 100%;
    height: 100vh;
}

.img_about{
    width: 900px;
    margin: -170px;
    margin-top: -100px;
}

.content_about{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.heading_about{
    font-size: 44px;
    font-weight: 500;
    
}

.para_about{
    color: rgb(255, 99, 250);
    font-size: 18px;
}

.para_text{
    font-size: 15px;
    font-weight: 600;
    color: rgb(0, 0, 0, 0.55);
    line-height: 20px;
    max-width: 600px;
}

.items{
    margin: 8px 0px;
    list-style: none;
    /* position: relative; */
}

.items b{
    font-weight: 600;
    font-size: 17px;
    color: rgba(46, 46, 46, 0.882);
}

.items span{
    margin: 0px 3px;
    font-weight: 400;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.726);
}

.list{
    position: relative;
}

.list::after{
    content: '';
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 9px;
    width: 1px;
    height: 90%;
    background-color: rgb(23, 47, 165);
    margin: auto;
    z-index: -1;
}

.items::before{
    content: '';
    position: absolute;
    left: 3px;
    margin: 6px 0px;
    width: 12px;
    height: 12px;
    background-color: white;
    border: 2px solid rgb(23, 47, 165);
    border-radius: 50%;
}

.btn_about{
    display: incline-block !important;
    padding: 11px 37px;
    text-decoration: none;
    color: rgb(23, 47, 165);
    width: 200px;
    border: 2px solid rgb(23, 47, 165);
    margin: 12px 0px;
    font-weight: 600;
    border-radius: 3px;
    position: relative;
    z-index: 77;
}

.btn_about span{
    position: absolute;
    top: 0px;
    left: 0px;
    background-color: rgb(23, 47, 165);
    width: 0%;
    height: 100%;
    z-index: -77;
    transition: 0.7s ease;

}

.btn_about:hover span{
    width: 100%;
}

.btn_about:hover{
    color: white;
}

.service{
    width: 100%;
    height: 85vh;
}

.headings{
    text-align: center;
    font-size: 37px;
    text-transform: uppercase;
    font-weight: 800;
    color: rgb(23, 47, 165);
    position: relative;
}

.headings::after{
    content: '';
    position: absolute;
    bottom: -14px;
    left: 50%;
    transform: translateX(-50%);
    width: 70px;
    height: 3px;
    background-color: rgb(23, 47, 165);
}

.service_container{
    padding: 37px 0px;
}

.content_services{
    display: flex;
}

.icon_service{
    margin: 0px 24px;
}

.service_icons{
    font-size: 25px;
    width: 64px;
    height: 64px;
    line-height: 64px;
    text-align: center;
    border: 1px solid #d7d7d7;
    border-radius: 100%;
    color:rgb(23, 47, 165);
    transition: background-color 400ms ;
}

.content_services:hover .service_icons{
    background-color: rgb(23, 47, 165);
    color: white;
}

.heading_text{
    font-size: 19px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.892);
}

.para_text{
    font-size: 14px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.59);
    line-height: 25px;
}

.my_works{
    height: 100vh;
    width: 70%;
    margin: auto;
}

.my_works_container{
    margin-top: 30px;
    padding-top: 55px;
}

.content_my_works{
    background-color: white;
    width: 320px;
    height: 380px;
    box-shadow: 0px 4px 30px rgb(140 152 164 /20%);
    transition: 0.2s ease-in;
}

.img-my_works{
    width: 100%;
    height: 240px;
}

.img_content_my_works{
    width: 100%;
    height: 100%;
}

.my_works_category{
    display: incline-block;
    text-decoration: none;
    font-size: 17px;
    color: rgb(23, 47, 165);
    margin-top: 20px;
    margin: 4px 12px;
}

.heading_content_my_works{
    font-size: 21px;
    line-height: 34px;
    margin: 6px 12px;
    color: rga(0, 0, 0, 0.621);

}

.para_my_works{
    font-size: 13px;
    margin: 2px 12px;
    color: rgba(0, 0, 0, 0.47);
    font-weight: 400;
}

.content_my_works_2{
    height: 410px;
}

.content_my_works:hover{
    box-shadow: 0px 4px 30px rgba(140, 152, 164, 0.594);
    cursor: pointer;
}

.btn_my_works{
    text-decoration: none;
    text-align: center;
    display: block;
    background-color: rgb(23, 47, 165);
    width: 140px;
    margin: 63px auto;
    padding: 13px 0px;
    border-radius:  6px;
    color: white;
}

.btn_my_works{
    background-color: rgb(23, 47, 165);
    color: white;
}

footer{
    width: 100%;
    height: 16vh;
    background-color: #171925;
    display: flex;
    align-items: center;
}

footer span{
    color: rgba(255, 255, 255, 0.829);
    
}